
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #191A52;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.root {
  display: flex;
  justify-content: space-around;
}
.botones{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 66px;
  background-color: rgba(25, 163, 82, 0.5);
  border: 1px solid #19A352;
}
.foto{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grilla{
  display: grid;
}
.lgnBar {
  color: white;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  padding: 2%;
}